.tituloAcerca, .lead, .h3Acerca, .pAcerca, .card-title{
    text-align: center;
}

.card-text{
    text-align: center;
}

#tarjetas {
      width: 80%;
      margin: 0 auto;
      padding: 20px;
 }

